[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
nflow = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
nflows = "*"
torch = "*"
normflows = "*"
pyyaml = "*"
seaborn = "*"
npdoseresponse = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
